@inherits LayoutComponentBase

<PageTitle>FileEncrypter_Blazor</PageTitle>
<style>
    *,
    *:before,
    *:after {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }
</style>
<div class="page">
    <main>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
