* {
    box-sizing: border-box;
}

html {
    padding: 0px;
}

body {
    position: relative;
    Top: -0.5vh;
    Left: -0.5vw;
    width: 101vw;
    height: 101vh;
    padding: 0px;
    background-color: transparent;
}

.login-page-container {
    width: 100vw;
    height: 100vh;
    display: grid;
    place-content: center;
    background-image: url(bg.svg);
    background-color: #2148C0;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 0px;
    margin: 0px;
}
.login-background {
    position: absolute;
    left: -1vw;
    top: -1vh;
    width: 102vw;
    height: 102vh;
}
svg {
    stroke: #FFFFFF;
}

.login-box {
    color: #FFFFFF;
    width: 300px;
    height: 398px;
    display: flex;
    flex-direction: column;
    justify-content: Top;
    align-items: center;
}

.loging-image {
    display: block;
    margin-bottom: 6px;
    width: 109px;
    height: 97px;
    Margin-Top: 0px;
    margin-bottom: 51px;
}

.login-input {
    width: 300px;
    height: 45px;
    padding: 12px;
    border: solid 1px #FFFFFF;
    border-radius: 4px;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
}

.user-icon {
    margin: 0px;
    width : 20px;
    height: 20px;
}

.login-input input {
    background-color: transparent;
    border: none;
    outline: none;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    color: #FFFFFF;
    height: 20px;
    padding: 0.5px;
    margin: 0px;
    margin-left: 20px;
}

    .login-input input::placeholder {
        color: #FFFFFF;
        opacity: 0.8;
        font: Montserrat;
    }

    .login-input input:-ms-input-placeholder {
        color: #FFFFFF;
        opacity: 0.8;
        font: Montserrat;
    }

    .login-input input::-webkit-input-placeholder {
        color: #FFFFFF;
        opacity: 0.8;
        font: Montserrat;
    }

.pass-alert {
    width: 300px;
    height: 43px;
    background-color: transparent;
    Margin: 0px;
    padding: 2px;
    color: Red;
    border: none;
    text-align: left;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.login-submit-btn {
    width: 300px;
    height: 45px;
    background-color: #FFFFFF;
    border-radius: 4px;
    margin-top: 0px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.30);
    cursor : pointer;
}

.login-forget-password {
    background-color: transparent;    
    margin-top: 11px;
    width: 300px;
}

#forget-pass-text {
    float :right;
    text-align: right;
    width :fit-content;
    background-color: transparent;
    display: inline-block;
    cursor: pointer;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    border: none;
    color: #FFFFFF;
}